<div class="max-w-5xl mx-auto px-6 py-12 space-y-10">
  <div class="flex items-center justify-between">
    <a href="/" class="text-sm text-blue-600 hover:underline">← Back to incidents</a>
  </div>

  <div class="bg-white p-6 rounded-xl shadow-md space-y-6 border border-gray-100">
    <div class="flex items-center gap-3">
      <h1 class="text-2xl font-bold text-gray-800 flex items-center gap-2">
        🔥 Incident <%= @incident.id %>
      </h1>

      <span class="inline-block px-3 py-1 text-xs font-medium rounded-full
        <%= @incident.badge_status_class %>">
        <%= @incident.status.capitalize %>
      </span>

      <% if @incident.urgency_level.present? %>
        <span class="inline-block px-3 py-1 text-xs font-medium rounded-full
          <%= @incident.badge_urgency_level_class %>">
          <%= @incident.urgency_level %>
        </span>
      <% end %>
    </div>

    <div>
      <h2 class="text-lg text-black font-semibold mb-1">Description</h2>
      <p class="text-gray-700"><%= @incident.description %></p>
    </div>

    <div>
      <h2 class="text-lg text-black font-semibold mb-1">Reason</h2>
      <p class="text-gray-700"><%= @incident.reason %></p>
    </div>

    <div>
      <h2 class="text-lg text-black font-semibold mb-1">How to resolve?</h2>
      <p class="text-gray-700"><%= @incident.how_to_resolve %></p>
    </div>

    <% if @incident.kind.is_a?(PendingReplyIncidentKind) %>
      <% if @incident.kind.message_trigger.present? || @incident.kind.message_resolution.present? %>
        <div>
          <h2 class="text-lg text-black font-semibold mb-4">Messages</h2>

          <% if @incident.kind.message_trigger.present? %>
            <div class="flex justify-start">
              <div class="'bg-gray-100 text-gray-900 max-w-md p-3 rounded-xl shadow">
                <div class="text-sm font-semibold mb-1">
                  Trigger – <%= @incident.kind.message_trigger.sender_full_name %>
                  <span class="text-xs text-gray-400 ml-2"><%= @incident.kind.message_trigger.posted_at.strftime('%b %d, %H:%M') %></span>
                </div>
                <div class="text-sm whitespace-pre-line">
                  <%= @incident.kind.message_trigger.content %>
                </div>
              </div>
            </div>
          <% end %>

          <% if @incident.kind.message_resolution.present? %>
            <div class="flex justify-end">
              <div class="bg-blue-600 text-white max-w-md p-3 rounded-xl shadow">
                <div class="text-sm font-semibold mb-1">
                  Resolution – <%= @incident.kind.message_resolution.sender_full_name %>
                  <span class="text-xs text-gray-400 ml-2"><%= @incident.kind.message_resolution.posted_at.strftime('%b %d, %H:%M') %></span>
                </div>
                <div class="text-sm whitespace-pre-line">
                  <%= @incident.kind.message_resolution.content %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
